
/* font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');
body {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}
/* navbar css */
.container {
	width: 1300px;
	margin: 0 auto;
  max-width: 100%;
}
header {
  background-color: #FBFBFB;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 87px;
 
}

.navigation {
  display: flex;
}

.logo {
  display: flex;
}
.logocursor {
  cursor: pointer;
}
.logocursor img {
  width: 150px;
}

.home {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .06rem;
  text-transform: uppercase;
  /* color: #A4A2A2; */
  color: #26262c;
  margin-right: 48px;
  cursor: pointer;
}


.margin {
  margin: 0;
}

.box {
  width: 32px;
  height: 32px;
  background: #D6D6D6;
  border-radius: 50%;
  margin-right: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.box:first-child{
  background: linear-gradient(180deg, rgba(62, 223, 130, 0.99) 0%, rgba(87, 194, 244, 0.99) 100%);
  position: relative;
}
.circle {
  width: 6px;
  height: 6px;
  background: #FF0000 99%;
  border-radius: 50%;
  position: absolute;
  top: -3px;
  right: -3px;
}

.box1{
  margin: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.line {
  height: 30px;
  width: 1px;
  background: #C4C4C4;
  margin-right: 18px;
}

/* sidbar css */

.buttonbar {
  display: none;
  cursor: pointer;
  border: none;
  transition: all 0.3s linear ;
  background: inherit;
}
.buttonactive {
  display: none;
}
.buttonbar:focus {
  outline: none;
  
}
.buttonbar:active {
  transform: scale(0.85);
}
.fabar {
  width: 25px;
  height: 25px;
  color: #A4A2A2;
}

.btn-active {
  display: flex;
  border: none;
  background: inherit;
  cursor: pointer;
}

.btn-active:focus {
  outline: none;
}

/* sidbar css */

.article-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 87px;
  width: 100vw;
  transform: translate(-150%);  
  background-color: #FBFBFB;
}

.sidbaropen {
  display: flex;
  flex-direction: column;
}
.sidbaropen, li {
  margin-bottom: 5px;
}
.sidbarlogo {
  display: flex;
 
}
.show-sidebar {
  z-index: 100;
  transform: translate(0);
}

.btn-active-no {
  display: none;
}

.fatims {
  width: 25px;
  height: 25px;
  color: #A4A2A2;
}

@media only screen and (max-width: 1125px) {
  
  .sidbaropen > li {
   
    margin-right: 30px;
    cursor: pointer;
  }
  .container {
    width: 95vw;
    margin: 0 auto;
    max-width: 100%;
  }
  .home {
    margin-right: 35px;
  }
  
 }

/* responsive 1080px */
@media only screen and (max-width: 1080px) {
  
  .hiden {
    display: none;
  }
  .buttonbar {
    display: flex;
  }
  .left-side {
    display: none;
  }
  
 }
 @media only screen and (min-width: 1080px) {
  
  
  .btn-active {
    display: none;
  }
  .show-sidebar {
    transform: translate(150%);
  }
 }

 @media only screen and (max-width: 450px) {
   .sidbarlogo {
    display: flex;
    width: 120px;
    flex-wrap: wrap;
    
  }
  .sidbarlogo .box {
     margin-bottom: 5px;
  }
  .sidbarlogo .box1 {
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
  }
  
 }

 /* login left-side */

 .left-side {
  position: relative;
  z-index: 30;
  width: 774px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-image: linear-gradient(to bottom, #ccccf4, #dad8f7, #e7e5f9, #f3f2fc, #ffffff); */
  background-image: linear-gradient(to bottom, #e3e6f6, #ebecf8, #f2f2fa, #f9f8fd, #ffffff);

}
@media only screen and (max-width: 1080px) {
  
  .left-side {
    display: none;
  }
  .section-box{
    display: flex;
    justify-content: center;
    width: 1440px;
    max-width: 100%;
    
  }
  
 }

 
.left-side-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 59px;
    text-align: center;
    color: #000000;
    padding-top: 130px;
  
}

.left-side-paragrap {
  margin: 15px 0 30px 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

.left-side-btn {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  width: 213px;
  height: 46px;
  background: #3EDF82;
  border-radius: 7px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 0;
  cursor: pointer;
}
.left-side-btn:focus {
  outline: none;
}

.image-slider {
   margin-top: 127px;
   width:  100%;
   max-width: 95vw;
   z-index: 1;

   
}
 /* login page css */

 .section-box{

   position: relative;
   display: flex;
   width: 100%;
   
   margin: 0 auto;
   box-sizing: border-box;
     
 }

 @media only screen and (min-width: 1376px) {
  .section-box {
    width: 1300px;
    margin: 0 auto;
  }
 }
 .login {
   display: flex;
   width: 590px;
   max-width: 100%;
   background: #FFFFFF;
   padding-top: 70px;
 }

 .line2{
   position: relative;
  width: 0px;
  height: 232.5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
 }
 .circle2 {
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   top: 50%;
   left: 50%;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   background: #FFFFFF;
   border: 1px solid #575757;
   transform: translate(-50%,-50%);
 }

 .or {
  color: #575757;
  font-style: normal;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
  font-size: 10px;
   line-height: 16px;

 }
 .social {
   display: flex;
   flex-direction: column;
   margin-top: 59px;
   margin-left: 30px;
 }
.formcontainer {
   display: flex;
   flex-direction: column;
 }

 .btnfb {
   cursor: pointer;
   font-family: 'Nunito Sans', sans-serif;
   position: relative;
   width: 205px;
   height: 44px;
   border: none;
   background: #507CC0;
   border-radius: 5px;
   margin-bottom: 15px;
   color: #FFFFFF;
   font-style: normal;
   font-weight: bold;
   font-size: 12px;
   line-height: 16px;
  
 }

 .btnfb:focus{
outline: none;
 }
 .btn-icon-fb {
   position: absolute;
   left:18px;
   transform: translateX(-50%);
 }
 
.line3 {
  position: absolute;
  width: 0px;
  height: 31.46px;
  left: 32px;
  bottom: 6px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}


 .btnfb:nth-child(2){
  background: #00ACEE;

 }

 .btnfb:last-child {
  background: #DF4930;
  margin: 0;
 }



 .lineposicion {
   margin: 24px 30px 0 30px;
 }

 .text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #183445;
  text-align: center;
  margin-bottom: 31px;
 }

 .formcontainer input[type=email] {
  width: 255px;
  max-width: 100%;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #F3F3F3;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding-left: 25px;
  font-size: 14px;
  margin-bottom: 15px;
 font-family: 'Lato', sans-serif;
 font-style: normal;
 font-weight: normal;
 font-size: 14px;
 line-height: 17px;
 color: #78818B;
 }
 
 input[type=email]:focus {
   outline: none;
 }

 .formcontainer input[type=password] {
  width: 255px;
  max-width: 100%;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #F3F3F3;
  box-sizing: border-box;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  font-size: 14px;
  padding-left: 25px;
 }
 input[type=password]:focus {
   outline: none;
 }
 button[type=submit] {
   width: 94px;
   
   height: 50px;
   background: #3EDF82;
   border-radius: 7px;
   border: none;
   cursor: pointer;
   color: #FFFFFF;
   text-transform: uppercase;
   font-style: normal;
   font-weight: bold;
   font-size: 14px;
   line-height: 17px;
   font-family: 'Montserrat', sans-serif;
 }
 button[type=submit]:focus {
   outline: none;
 }

 .formcontainer input[type=checkbox] {
  width: 22px;
  height: 22px;

   background: #FFFFFF;
   border: 1px solid #F3F3F3;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
 }
 input[type=checkbox]:focus {
   outline: none;
 }
 
 .form1 {
   max-width: 100%;
 }
 

 .remember {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #78818B;
 }
 .btn-rem {
   display: flex;
   margin-top: 15px;
   align-items: center;
   justify-content: space-between;
 }

 .forget {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 32px;
 }
 .forget a:first-child {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #3EDF82;
  cursor: pointer;
 }
 .forget a:last-child {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #78818B;
  cursor: pointer;
 }
 .line4 {
   width: 2px;
   height: 14px;
   background: #C4C4C4;
   margin: 0 8px ;
 }


 /* place or person */

 .place-person {
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 

 .smile-circle {
  width: 10px;
  height: 10px;
  border: 2px solid #575757;
  border-radius: 50%;
  margin-right: 15px;
 }
 .smile-circle2 {
  width: 10px;
  height: 10px;
  border: 2px solid #575757;
  border-radius: 10px;
  margin-right: 15px;
  margin-left: 35px;
 }

 .circle-flex {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 49px;
 }

 .text-sircle {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #78818B;
 }

 .search-place input[type=text] {
   margin-top: 17px;
   width: 300px;
   max-width: 100%;
   height: 50px;
   background: #FFFFFF;
   border: 1px solid #F3F3F3;
   box-sizing: border-box;
   box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
   border-radius: 4px;
   padding-left: 25px;
   font-size: 14px;
   font-family: 'Lato', sans-serif;
   font-style: normal;
   font-weight: normal;
 }
 .search-place button[type=button] {
   border: none;
   background-color: inherit;
   cursor: pointer;
 }
 .search-place button[type=button]:focus {
   outline: none;
 }
 .search-place input[type=text]:focus {
   outline: none;
 }
 .search-place {
   position: relative;
 }
 .svgsearch {
   position: absolute;
   right: 20px;
   bottom: 12px;
 }

 .join {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #183445;
  margin: 54px 0 7px 30px;
 }
 .left-fix {
  margin-left: 20px;
}
.left-fix2 {
 margin-left: 20px;
}

 .join-info input[type=text] {
  margin-left: 30px;
  padding-left: 25px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  width: 255px;
  max-width: 100%;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #F3F3F3;
  box-sizing: border-box;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
 }
 .join-info input[type=email] , .join-info input[type=password], .join-info-select input[type=text], .join-info-btn input[type=text] {
  margin-left: 30px;
  padding-left: 25px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  width: 255px;
  max-width: 100%;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #F3F3F3;
  box-sizing: border-box;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
 }
 input[type=text]:focus {
   outline: none;
 }
 .join-info-select select  {
  margin-left: 30px;
  padding-left: 25px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  width: 255px;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #F3F3F3;
  box-sizing: border-box;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  color: #78818B;
 }

 select:focus {
   outline: none;
 }

 
 .join-info {
   margin-bottom: 20px;
 }

 .join-paragrap {
   margin-left: 30px;
   width: 540px;
   max-width: 100%;
 }
 .join-paragrap h3 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #78818B;
 }

 .join-info-select {
   margin-top: 17px;
 }
 option {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #78818B;
 }

 .join-info-btn {
   display: flex;
   flex-direction: column;
   margin-bottom: 20px;
 }
 .margin-top {
   margin-top: 20px;
 }
 .join-info-finish {
   display: flex;
   margin-top: 20px;
 }
 .join-info-textarea {
   position: relative;
 }
 .btn-fixed {
   position: absolute;
   right: 0;
   bottom: 20px;
 }
 .join-info-textarea textarea {
  margin-left: 30px;
  width: 255px;
  max-width: 100%;
  height: 120px;
  background: #FFFFFF;
  border: 1px solid #F3F3F3;
  box-sizing: border-box;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  resize: none;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  padding: 15px 0 0 25px;
  overflow: auto;
  outline: none;
  color: #78818B;
}

.image-back {
  max-width: 100%;
  position: absolute;
  bottom: -340px;
  z-index: 1;
  background-blend-mode: darken;
 
  
}
.position-z-index {
  position: relative;
  z-index: 50;
}
.image-fixed-but {
  width: 100%;
}

/* responsive 612px */

@media only screen and (max-width: 612px) {
  
  .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .social {
    display: flex;
    align-items: center;
    margin: 0px !important;
  }

  .line2 {
    position: relative;
    width: 232.5px;
    height: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    margin-top: 22px;
    }
    .join {
      margin: 50px 0 7px 0 !important;
      text-align: center !important;
    }
    .join-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
    }
    .join-info input[type=text] {
      margin:0 0 15px 0;
    }
    .join-info input[type=email] {
      margin:0 0 15px 0;
     }
    .join-info input[type=password] {
      margin:0 0 15px 0;
    }
    .join-info-select {
      flex-direction: column;
      align-items: center;
      display: flex;
    }
    .join-info-select select {
      margin-left: 0;
    }
    .join-info-select input[type=text] {
      margin:15px 0 0 0;
    }
    .join-info-finish{
      display: flex;
      flex-direction: column;
      align-items: center;
     
    }
    .join-info-btn {
       align-items: center;   
    }
    .join-info-btn input[type=text] {
      margin-left: 0;
    }
    .join-info-textarea textarea {
         margin-left: 0;
    }
    .btn-fixed {
     bottom: 4px;
    }
    .testing {
       width: 500px;
       max-width: 100%;
    }
    .image-back {
       bottom: -216px;
    }
    .join-paragrap {
       margin-left: 0px;
       text-align: center;
    }
   .logocursor img {
       width: 120px;
       margin-left: 8px;
    }

      }   
 /* pages css */


.header-color {
  margin-top: 2px;
  position: relative;
  background: #1970F0;
  height: 130px;
}
.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 130px;
}
.text-center h1 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 54px;
  color: #FFFFFF;
}

.basic-info {
  width: 570px;
  max-width: 100%;
  height: 60px;
  background: #FFFFFF;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
  border-radius: 6px 6px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  z-index: 50;
}

.form-center {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-toggle {
  width: 32px;
  height: 32px;
  background: #3EDF82;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btn-toggle:focus {
  outline: none;
}
.basic-info h2 {
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #183445;
}

.form-info {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.form-info input[type=text] {
 
  width: 510px;
  height: 48px;
  max-width: 100%;
  background: #FFFFFF;
  border: 1px solid #F3F3F3;
  box-sizing: border-box;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #78818B;
  padding: 0 20px;
  margin-bottom: 10px;
  z-index: 50;
  
}

.upload-relative {
  position: relative;
}

.upload {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 47px;
  background: #1970F0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
  border-radius: 0px 4px 4px 0px;
  border: none;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  cursor: pointer;
}
.upload:focus {
  outline: none;
}

.textarea-info {
  width: 510px;
  max-width: 100%;
  height: 100px;
  resize: none;
  background: #FFFFFF;
  border: 1px solid #F3F3F3;
  box-sizing: border-box;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding:10px 20px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #78818B;
  z-index: 50;
}
.textarea-info:focus {
  outline: none;
}
.btn-submit-center {
  z-index: 50;
  display: flex;
  justify-content: center;
}
.form-info {
  max-width: 100%;
}
.form-info button[type=submit] {
  margin-top: 20px;
  margin-bottom: 30px;
  width: 150px;
  height: 40px;
  background: #3EDF82;
  border-radius: 7px;
}

.photo-video {
    display: flex;
    justify-content: center;
}
.trip-info {
  position: relative;
  z-index: 50;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn-toggle1 {
  width: 32px;
  height: 32px;
  background: #57C2F4;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-toggle1:focus {
  outline: none;
}
.fixed-pos {
  position: relative;
}

.image-back1 {
  max-width: 100%;
  position: absolute;
  bottom: -340px;

  z-index: 10;
  background-blend-mode: darken; 
}

@media only screen and (max-width: 880px) {
  .text-center h1 {
    font-size: 32px;
  }
}

@media only screen and (max-width: 600px) {
  .form-center {
    max-width: 90vw;
    margin: 40px auto;
  }
  .photo-video {
    max-width: 90vw;
    margin: 15px auto;
  }
  .trip-info {
    max-width: 90vw;
    margin: 15px auto;
  }
  .image-back1 {
    bottom: -200px;
  }
}

@media only screen and (max-width: 500px) {
  .text-center h1 {
    font-size: 26px;
  }
  .text-center {
    
    min-height: 110px;
}
  .header-color {
    
    height: 110px;
}
}

