
.left-aside-travel {
    width: 214px;
    background: #F5F5F5;
    padding-top: 35px;

}
.center-travel {
    display: flex;
    justify-content: center;
}
.center-travel1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:70px;
}

.right-article {
    width: 1154px;
    background: #FFFFFF;

}

.aside-logo {
    width: 117px;

}

.aside-girl {
    width: 85px;
    border: 2px solid #3EDF82;
    border-radius: 50%;
    padding: 5px;

}

.aside-girl-text {
    font-family: 'Futura Bold font';
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    margin-top: 20px;

}

.aside-girl-p {
    font-family: 'futura light bt';
    font-size: 13px;
    line-height: 20px;
    color: #8E8E8E;
    margin-top: 11px;
   
}

.aside-post-follow {
    display: flex;
    margin-top: 20px;
    margin-bottom: 35px;
    padding: 0 20px;
}

.aside-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
}
.aside-post:last-child {
    margin-right: 0;
}

.aside-post h4 {
    font-family: 'Futura Bold font';
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
    
}

.aside-post p {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #8E8E8E;
}

.ul-aside {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.li-aside {
    margin-bottom: 30px;
    cursor: pointer;
    color: #939393;
    font-size: 13px;
    font-weight: bold;
    font-family: 'futura light bt';
}

.li-aside:nth-child(2) {
    border-bottom:2px solid #3EDF82;
    color: #000000;
}

.travel-flex {
  display: flex;
}

.travel-input {
    width: 250px;
    height: 35px;
    padding-left: 40px;
    border: 1.5px solid #8E8E8E;
    border-radius: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #8E8E8E;
    font-family: 'futura light bt';
}

.travel-search {
    position: relative;
}

.travel-search-btn {
    background: inherit;
    position: absolute;
    left: 13px;
    border: none;
    top: 50%;
    transform: translateY(-45%);
    cursor: pointer;
    
}

.travel-search-btn1 {
    background: inherit;
    position: absolute;
    left: 217px;
    border: none;
    top: 50%;
    transform: translateY(-45%);
    cursor: pointer;
    
}
.travel-search-btn1:focus {
    outline: none;
}
.travel-search-btn:focus {
    outline: none;
}

.travel-img-width {
    width: 13px;
}

.travel-img-width1 {
    width: 12px;
}

.img-galery-top {
    display: flex;
    padding: 35px  27px  35px 35px;
    justify-content: space-between;
}

.sms {
    width: 24px;
    cursor: pointer;
    margin-right: 28px;
}

.heart {
    width: 22px;
    cursor: pointer;
}

.btn-create {
    font-family: 'futura light bt';
    width: 174px;
    position: relative;
    background: #1970F0;
    box-shadow: 0px 0px 18px rgba(25, 112, 240, 0.4);
    border-radius: 5px;
    border: none;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    padding-left: 29px;
    margin: 0 28px;
    cursor: pointer;
}

.plus-img {
    position: absolute;
    width: 13px;
    left: 24px;
}

.girl-img {
    width: 38px;
    height: 38px;
    cursor: pointer;
}

.girl-img > img {
    width: 100%;
    border-radius: 50%;
    box-shadow:  0px 0px 8px rgba(25, 111, 240, 0.555);
    object-fit: cover;
}


.travel-creat-btn {
    display: flex;
}

.text-galery {
    display: flex;
    justify-content: space-between;
    padding: 40px 97px 40px 35px;
}

.text-galery-h1 {
    font-family: 'Futura Bold font';
    font-size: 28px;
    line-height: 20px;
    color: #000000;
}

.text-galery-btn {
    font-family: 'futura light bt';
    width: 142px;
    height: 28px;
    background: #3EDF82;
    box-shadow: 0px 0px 12px rgba(25, 112, 240, 0.3);
    border: 0;
    border-radius: 5px;
    font-style: normal;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: #FFFFFF;
    cursor: pointer;
}



.img-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:0 97px 0 35px;
}

.image {
    position: relative;
    width: 198px;
    height: 270px;  
    margin-right: 20px;
    margin-bottom: 70px;
   
}

.shadow {
    position: absolute;
    width: 116px;
    height: 55px;
    background: inherit;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2px;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.75);
}
.image > img {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    
}

.image:nth-child(4n) {
    margin-right: 0;
}

.travel-footer-btn {
    display: flex;
    justify-content: center;
    padding:0 97px 140px 35px;
}

.travel-footer-btn > button {
    font-family: 'futura light bt';
    position: relative;
    width: 130px;
    height: 38px;
    background: #1970F0;
    box-shadow: 0px 0px 25px rgba(25, 112, 240, 0.4);
    border-radius: 7px;
    border: none;
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    padding-left: 20px;
    margin-top: -25px;
    cursor: pointer;
}
.plus-img-footer {
    position: absolute;
    width: 11px;
    left: 18px;
    top: 50%;
    transform: translateY(-50%);
}
.img-show-hide {
    display: none;
}

.img-show-box {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 400px;
    height: 400px;
}

.img-show-box > img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
}

.container2 {
    width: 1366px;
    max-width:100%;
    margin: 0 auto;
}

.sms-heart {
    display: flex;
    align-items: center;
  }
  
  .btn-create-center {
      display: flex;
  }


@media only screen and (max-width: 1172px) {
    .image:nth-child(4n) {
        margin-right: 20px;
    }
    .image:nth-child(3n) {
        margin-right: 0;
    }
}

@media only screen and (max-width: 982px) {
    .image:nth-child(3n) {
        margin-right: 20px;
    }
    .image:nth-child(2n) {
        margin-right: 0;
    }
}

@media only screen and (max-width: 900px) {
    .img-galery-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 35px 27px 35px 35px;
        justify-content: space-between;
    }
    .travel-creat-btn {
        display: flex;
        margin-top: 40px;
    }
    .text-galery {
        padding: 40px 35px 40px 35px;
    }
    .img-flex {
        padding: 0 35px 0 35px;
    }
    .travel-footer-btn {
        padding: 0 35px 110px 35px;
    }
}

@media only screen and (max-width: 703px) {
    .img-flex {
        justify-content: center;
    }
    .image:nth-child(2n) {
        margin-right: 20px;
    }
}

@media only screen and (max-width: 682px) {
    .image:nth-child(n) {
        margin-right: 0;
    }
}

@media only screen and (max-width: 628px) {
    .travel-flex {
        display: flex;
        flex-direction: column;
    }
    .left-aside-travel {
        width: 100%;
    }
    .right-article {
        width: 100%;
    }
    .img-flex {
        justify-content: space-between;
    }
    .image:nth-child(2n) {
        margin-left: 20px;
    }
}

@media only screen and (max-width: 503px) {
    .img-flex {
        justify-content:center;
    }
    .image:nth-child(n) {
        margin-left: 25px;
        margin-right: 25px;
    }
    .text-galery-h1 {
        display: none;
    }
    .text-galery {
        justify-content: center;
    }
}

@media only screen and (max-width: 380px) {
    .travel-creat-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
    }
    .sms-heart {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    .btn-create {
        margin-left: 0;
    }
    .image:nth-child(n) {
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (max-width: 1300px) {
    .hidden-resp {
        display: none;
    }
}
